<div class="formula-block">
    <h3>{{ include.formula.title }}</h3>
    <div class="formula-equation">
        {{ include.formula.equation }}
    </div>
    <div class="formula-variables">
        <strong>Variables:</strong>
        {% if include.formula.variables %}
            <div>{{ include.formula.variables }}</div>
        {% endif %}
    </div>
    {% if include.formula.comment %}
    <div class="formula-comment">{{ include.formula.comment }}</div>
    {% endif %}
    {% if include.formula.examples %}
    
    <div class="block">
        {% for ex in include.formula.examples %}
        <div class="formula-example">
            <strong>Example:</strong> 
            {{ ex.example-comment | markdownify }}
        </div>
        {% if ex.example-equation %}
        <div class="formula-example-equation">
            {{ ex.example-equation | markdownify }}
        </div>
        {% endif %}
        {% endfor %}
    </div> 
    {% endif %}
    <hr>
</div>
